name: CI-builds

on:
    workflow_dispatch:
    pull_request:
        branches:
            - main
            - "dev*"
            - "releases/**"
            - "feature/**"
            - "fix/**"
            - "hotfix/*"
        paths:
            - "**/*.py"
            - "**/LICENSE*"
    push:
        branches:
            - main
            - "dev*"
            - "releases/**"
            - "feature/**"
            - "fix/**"
            - "hotfix/*"
        paths:
            - "**/*.py"
            - "**/LICENSE*"

permissions:
    contents: write
    pull-requests: read
    id-token: write
    attestations: write

jobs:
    build:
        name: CI-Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Install dependencies
              uses: astral-sh/setup-uv@v7.1.6
              with:
                  github-token: ${{ github.token }}
                  enable-cache: "auto"

            - name: Build
              run: uv build --clear

            - name: Attest build provenance
              uses: actions/attest-build-provenance@v1
              with:
                  subject-path: "dist/*"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Archive production artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: dist
                  path: dist
