name: Manual release with version bump

on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: "Version bump type"
        required: true
        default: "patch"
        type: choice
        options:
          - patch # 迭代补丁发行版本,如：1.0.0-dev1 -> 1.0.1
          - minor # 迭代次要发行版本,如：1.0.0-dev1 -> 1.1.0
          - major # 迭代主要发行版本,如：1.0.0-dev1 -> 2.0.0
          - pre_l # 提升预发行阶段，如：1.0.0-dev1 -> 1.0.0-alpha0
          - pre_n # 迭代预发行版本，如：1.0.0-dev1 -> 1.0.0-dev2

permissions:
  contents: write
  pull-requests: read
  id-token: write

jobs:
  bump-version:
    name: Bump version and create release
    runs-on: ubuntu-latest
    outputs:
      current-version: ${{ steps.bump.outputs.current-version }}
      previous-version: ${{ steps.bump.outputs.previous-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump version
        id: bump
        uses: callowayproject/bump-my-version@master
        env:
          BUMPVERSION_TAG: "true"
          BUMPVERSION_COMMIT: "true"
        with:
          args: ${{ github.event.inputs.bump_type }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check bump result
        if: steps.bump.outputs.bumped != 'true'
        run: exit 1

  build:
    name: Build and Release
    runs-on: ubuntu-latest
    needs: bump-version
    if: needs.bump-version.result == 'success'

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: astral-sh/setup-uv@v7.1.6
        with:
          github-token: ${{ github.token }}
          enable-cache: "auto"

      - name: Build
        run: uv build --clear

      - name: Extract release notes
        id: extract_notes
        run: |
          awk '/^### /{i++}i==1{print}i==2{exit}' CHANGELOG.md | sed '1d' > RELEASE_BODY.md

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ needs.bump-version.outputs.current-version }}
          body_path: RELEASE_BODY.md
          draft: false
          prerelease: ${{ github.event.inputs.bump_type == 'pre_l' || github.event.inputs.bump_type == 'pre_n' }}
          files: |
            dist/*
